* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

.navbar {
  display: flex;
  width: 100%;
  height: 10%;
}
.nomeApp {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-grow: 1;
  font-family: "Fira Sans", sans-serif;
  font-weight: bolder;
  padding-left: 35px;
  font-size: 25px;
  color: rgba(255, 107, 107, 0.8);
}
.macthes {
  display: flex;
  justify-content: flex-end;
  align-items: center;
}
.photos-and-actions {
  display: flex;
  flex-direction: column;
  position: relative;
  box-sizing: border-box;
  margin-bottom: 30px;
  margin: 0 auto;
}
.photo {
  display: flex;
  align-items: flex-end;
  border-radius: 10px;
  width: 90vw;
  height: 65vh;
  object-fit: scale-down;
  z-index: 1;
}
.photo-text {
  min-width: 90vw;
  color: white;
  position: absolute;
  z-index: 1;
  bottom: 0%;
  background: rgb(2, 0, 36);
  background: rgb(2, 0, 36);
  background: linear-gradient(
    180deg,
    rgba(2, 0, 36, 1) 0%,
    rgba(35, 34, 65, 0) 0%,
    rgba(0, 0, 0, 0.7) 52%
  );
  border-radius: 10px;
  padding: 20px 20px 30px 20px;
}

.photo-borrada {
  position: absolute;
  width: 90vw;
  height: 65vh;
  filter: blur(5px);
}
.nome-idade {
  margin-bottom: 6px;
  font-size: 1rem;
}
.bio-foto {
  line-height: 1.6rem;
  font-size: 1.1rem;
  font-weight: 500;
}
.buttons {
  display: flex;
  justify-content: space-around;
  height: 12vh;
  margin: 1rem 0;
  align-items: center;
}

/*Desktop View */

@media (min-width: 1025px) {
  .photo {
    width: 23vw;
  }
  .photo-borrada {
    width: 23vw;
  }
  .photo-text {
    min-width: 23vw;
  }
}
