.ApplicationFormPage {
  min-width: 100%;
  min-height: 100vh;
  background-color: white;
}

button {
  margin-bottom: 20px;
}

.Header_Form {
  background-color: yellowgreen;
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 65vw;
  height: 10vh;
  padding-right: 35%;
}

.Header_Form .Tela_Inicial {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 150px;
  margin-left: 30px;
  border: 1px solid black;
  height: 50px;
}

.Header_Form .Logo_Form {
  display: flex;
  justify-content: center;
  align-items: center;
}

.Container_Form {
  height: 90vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.Container_Form_Inside {
  border: 1px solid black;
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-direction: column;
  height: 80vh;
  width: 30vw;
}
.Titulo_Form {
  width: 15vw;
  border: 1px solid black;
  height: 10vh;
  margin-top: 30px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.Form {
  width: 25vw;
  height: 60vh;
  border: 1px solid black;
  margin-bottom: 20px;
  display: flex;
  justify-content: center;
  align-items: flex-end;
}
