html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
/* =============== RESET =============== */

body {
  width: 100vw;
  height: 100vh;
  padding: 0;
  margin: 0;
  font-size: 10px;
  color: white;
}
/* ============== header ================= */

#top-container {
  display: grid;
  grid-template-columns: 1fr 3fr;
  grid-auto-rows: 5vh;
}

.green-background {
  background-color: green;
  display: grid;
  justify-items: center;
  align-items: center;
}

.yellow-background {
  background-color: yellow;
  display: grid;
  justify-items: center;
  align-items: center;
}

/* ===============Rosa=================== */
.pink-background {
  display: grid;
  grid-template-rows: 450px;
  background-color: fuchsia;
  display: grid;
  justify-items: center;
  align-items: center;
}

/* ============= meio ============== */
#middle-container {
  display: grid;
  grid-template-columns: 2fr 1fr 1fr;
}

.blue-background {
  background-color: blue;
  display: grid;
  grid-template-rows: 220px;
  display: grid;
  justify-items: center;
  align-items: center;
}

.red-background {
  background-color: red;
  display: grid;
  grid-template-rows: 110px;
  justify-items: center;
  align-items: center;
}

.lightgreen-background {
  background-color: lightgreen;
  display: grid;
  justify-items: center;
  align-items: center;
  grid-template-rows: 110px;
}

/* =============footer============== */
footer {
  bottom: 0;
  width: 100%;
}
.purple-background {
  background-color: purple;
  height: 49px;
  display: grid;
  justify-items: center;
  align-items: center;
}
