* {
  margin: 0;
  padding: 0;
  list-style: none;
  text-decoration: none;
}
html {
  overflow: scroll;
  overflow-x: hidden;
}
::-webkit-scrollbar {
  width: 0;
  background: transparent;
}
:root {
  --ff-primary: "Source Sans Pro", sans-serif;
  --ff-secondary: "Source Code Pro", monospace;

  --fw-reg: 300;
  --fw-bold: 900;

  --fs-h1: 3rem;
  --fs-h2: 2.25rem;
  --fs-h3: 1.25rem;
  --fs-body: 1rem;
}
html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
/* ============== RESTE ============== */
.container {
  margin-top: 100px;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 17px;
  line-height: 1.6;
}
.container h1,
p {
  color: white;
}
.container h1 {
  font-size: 50px;
  font-weight: bold;
}

/* ================== Area Home Page Container ================== */
.area-inicial {
  height: 100vh;
  width: 100%;
  background-image: url("/4cars/imgs/ks-rental.jpg");
  background-size: cover;
  background-position: center;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
/* ================== texto da Home ================== */
.area-inicial .text-home {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  padding: 0 20px;
}

/* ============= Inputs de data e selecionar carros ============= */
#input-home {
  display: flex;
  width: 100%;
  height: 20vh;
  justify-content: center;
  align-items: center;
}
#input-home input {
  width: 200px;
  height: 40px;
  margin-right: 35px;
}

#ddselect {
  width: 200px;
  height: 45px;
}

/* ================== Botão "Alugar Agora" ================== */
.btn {
  background: #ff5c5c;
  color: #fff;
  text-decoration: none;
  padding: 8px 25px;
  margin-left: 35px;
  font-weight: bold;
}

/* =====================================

===================================== */

.area-carros {
  background-color: #e7e7e7;
  height: 100vh;
  width: 100%;
  display: flex;
  justify-content: center;
}
.area-carros h2 {
  color: black;
  text-transform: uppercase;
  font-size: 45px;
  font-family: var(--ff-primary);
}
.text-carros {
  display: flex;
  justify-content: center;
  align-items: flex-end;
  height: 15vh;
  padding-top: 100px;
}

/* =====================================

===================================== */

.area-contat {
  background-color: dimgray;
  height: 100vh;
  width: 100%;
}

@media (max-width: 860px) {
  /* =========== Estilização do texto Tela menor =========== */
  .text-home h1 {
    font-size: 43px;
    line-height: 1.2;
    padding-bottom: 10px;
  }
  .text-home p {
    font-size: 15px;
  }

  /* ================== Container Começando no Top da pagina ================== */
  .area-inicial {
    justify-content: flex-start;
  }

  /* ============= Ajuste para "centralizar" o conteudo  grudado do topo =========== */
  .area-inicial .text-home {
    padding: 140px 20px 0 20px;
  }

  /* ================== Estilização e posicionamento dos inputs e botão ================== */
  #input-home {
    height: 40vh;
    padding-top: 20px;
    display: flex;
    flex-direction: column;
    padding-top: 20px;
  }
  #input-home input {
    margin-right: 0px;
    margin-bottom: 20px;
  }
  .btn {
    margin-left: 0px;
    margin-top: 35px;
    padding: 10px 10px;
  }
}
